<main>
  <div class="board-container">
    <div class="board">
      <app-square *ngFor="let val of cells; let i = index" [value]="val" (click)="selectCell(i)">
      </app-square>
    </div>
    <ion-text *ngIf="winner" color="secondary">
      <div *ngIf="winner === 'Draw'; else winnerTemplate">
        <h2>Draw!</h2>
      </div>
      <ng-template #winnerTemplate>
        <h2>Player {{ winner }} Wins!</h2>
      </ng-template>
    </ion-text>
    <ion-button [disabled]="!winner" class="play-button" (click)="initGame()">Play again</ion-button>
  </div>
</main>
